<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
    <body class="p-3 mb-2 bg-success text-emphasis-warning">
    <nav class="navbar p-3 text-primary-emphasis bg-warning border border-primary-subtle rounded-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Edit your Todo here
    </a>
    
  </div>
</nav>


<div class="col-9 mt- p-4">
    

<form method="post" style="color: gold; font-size: 20px;">

             {% csrf_token %}

             {{ form.as_p }}

             <br/>
  <button type="submit" class="btn btn-warning">Update Todo</button>

  </form>


</div>
             
            
           
</div>
    </div>

  
</body>
</html>



